<!-- <div class="text-layout">


    <h1>{{ 'Hola Mundo' | uppercase}}</h1>

</div>

<button pButton label="Enviar" icon="pi pi-telegram" iconPos="right"></button>


    <p-card [header]="nombre |titlecase"
    subheader="Ingeniero">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta temporibus eveniet sapiente modi cum quam
        quo a aliquam dolorum odit?
        Commodi numquam sapiente sint neque impedit, eum quos magnam eos!
    </p-card> -->

    <app-menu></app-menu>
    <router-outlet></router-outlet>